.app-header {
  height: 60px;
  background: blue;
}

.app-content {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.filters {
  flex: 1;
  background: yellow;
  min-height: 20px;
}

.employees-list {
  flex: 2;
  background: green;
  min-height: 20px;
}
